@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, fantasy;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  .input:focus, .input:focus-within {
      outline: 0 !important;
      outline-offset: 0 !important;
  }
}
